.container {
    width: 1128px;
    margin: 0 auto;
  }
  
  .gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    position: relative;
  }
  .gallery-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-link {
    display: block;
    width: 100%;
    max-height: 160px;
    overflow: hidden;
  }
  /* .gallery-link > img {
    object-fit: fill;
    object-position: center;
  } */
  .item-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
    padding: 4px 20px;
  }
  .title {
    font-weight: 600;
  }
  .value {
    font-weight: 400;
    line-height: 2;
  }